/* sora regular */
@font-face {
    font-family: "soraRegular";
    src: local("soraRegular"),
    url("fonts/sora/Sora-Regular.ttf") format("truetype");
    font-weight: normal;
}

/* sora bold */
@font-face {
    font-family: "soraBold";
    src: local("soraBold"),
    url("fonts/sora/Sora-Bold.ttf") format("truetype");
    font-weight: bold;
}

/* sora semi-bold */
@font-face {
    font-family: "soraSemiBold";
    src: local("soraSemiBold"),
    url("fonts/sora/Sora-SemiBold.ttf") format("truetype");
}